* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
.text {
  /* color: #fff; */
  text-decoration: none;
  font-size: 1.25rem;
}

.container {
  width: 100%;

}

.wrapper {
  width: 90%;
  max-width: 90vw;
  margin: 0 auto;
}

.navbar {
  width: 100%;
  border-bottom: 2px solid #808080;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.linkMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  
  gap: 10px;
}
.linkMenu > a{
  color: #000;  
}

select {
  appearance: none;
  padding: 0.675em 1em 0.675em 0.5em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  font-size: 1rem;
}